body {
    overflow-x: hidden;
    background: url(layered-waves-haikei.png);
    object-fit: contain;
}

p {
    color: whitesmoke;
    font-size: large;
}

h1 {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    color: whitesmoke;
    margin-bottom: 10px;
}

details {
    color: whitesmoke;
}

.games {
    display: flex;
    flex-wrap: wrap;
}

img {
    border-radius: 15px;
    margin-left: 0.7rem;
    margin-top: 0.7rem;
}


.gameimage {
    padding: 5px;
    margin: 20px;
    margin-right: 20px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    opacity: 0.8;
}

.gameimage:hover {
    opacity: 1;
    box-shadow: whitesmoke 0px 50px 55px, whitesmoke 0px -25px 45px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, whitesmoke 0px -3px 5px;
}

.slider {
    background-color: rgb(96, 230, 165);
    width: 190px;
    height: 5px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    cursor: grab;
}

textarea {
    outline: none;
}

textarea:focus {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -25px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.slidecontainer {
    background-color: gray;
    height: 40px;
    width: 215px;
    padding-top: 20px;
    padding-left: 7px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

output {
    color: whitesmoke;
    font-weight: bolder;
}

#des {
    color: whitesmoke;
    text-align: center;
    padding-bottom: 30px;
    font-style: italic;
}

label {
    color: whitesmoke;
    font-size: large;
}

#la {
    margin-right: 10px;
}

.icon {
    padding: 5px;
    background: rgb(182, 71, 11);
    color: white;
    width: 17px;
    height: 13px;
    position: relative;
    left: 4px;
    top: 1.8px;
    display: inline-block;
}

input[type="text"] {
    outline: none;
    border: none;
    height: 20px;
}

#back {
    float: right;
    position: relative;
    bottom: 30px;
    border-radius: 10px;
    width: 95px;
    height: 30px;
    font-size: medium;
    background-color: rgb(241, 75, 9);
    border: 1px solid whitesmoke;
    opacity: 0.7;
    color: whitesmoke;
}

#back:hover {
    opacity: 1;
}

.btn {
    color: whitesmoke;
    background: linear-gradient(225deg, #FF3CAC, #784BA0, #2B86C5);
    border-radius: 20px;
    border: 1px solid whitesmoke;
    padding: 7px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#genres {
    border: 2px solid azure;
    border-radius: 25px;
    background: url(milad-fakurian-nY14Fs8pxT8-unsplash.jpg);
    box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(182, 71, 11),
        0 0 82px rgb(182, 71, 11),
        0 0 92px #0fa,
        0 0 82px rgb(182, 71, 11),
        0 0 151px #0fa;
}

#foot {
    text-align: center;
    font-size: medium;
    padding: 20px;
}
